.header {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    /* 
        make the header tick to top
        z-index - the higher number, the more it is on top of the others
                  give it a high so that nothing will overwrite it       
    */ 
    position: sticky;
    top: 0;
    z-index: 100;
    
}

.header__logo {
    height: 25px;
    margin-left: 20px;
}


.header__left {
    display: flex;
    align-items: center;     
}

.header__center {
    display: flex;
    align-items: center; 
    flex: 0.6;
}

.header__searchInput {
    display: flex;
    align-items: center; 
    border: 1px solid black;
    flex: 1;
}

.header__input {
    border: none;
    flex: 1;
}
.header__search {
    border-left: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    background-color: lightgray;
}   

.header__mic {
    padding-left: 20px;
    border: none;
    flex: 1\;
}
/*


.header__input {
    display: flex;
    width: 40%;
    align-items: center;
    border: 1px solid black;
}
*/
/* 
    target the input element of class header__input
    flex: 1; means to take up as much space 
*/
.header__input > input {
    flex: 1;
    border: none;
}

.header__icons {
    display: flex;
    align-items: center; 
}
